{% extends 'base.html.twig' %}

{% block body %}


    

	<div class="contact1">


		<div class="container-contact1">

        <span class="contact1-form-title">

		{% for flashMessage in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
        {% endfor %}


			<h1>Profitez d'une mise en relation gratuite avec jusqua' 4 professionnels Sérieux et Qualifiés.</h1>
        </span>

        
         <span class="contact1-form-text">
				<p>Chaque projet est suivi minutiseusement par notre équipe pour nous assurer du bon déroulement, de la qualité des travaux et du respect de l'offre et des délais :</p>
        </span>
        
     
        

			<div class="contact1-pic js-tilt" data-tilt>
				<img src="images/smdevis-logo.jpg" alt="IMG">
			</div>

            
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

			<form class="contact1-form validate-form">
				<span class="contact1-form-title">
					Demandez Un Devis
				</span>

				<div class="wrap-input1 validate-input">
                    {{ form_widget(form.nom_dem, {'attr': {'class': 'input1', 'placeholder': 'Votre Nom'}}) }}
                    <span class="shadow-input1"> </span>
                    <div class="valid-input">{{ form_errors(form.nom_dem) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
                    {{ form_widget(form.prenom_dem, {'attr': {'class': 'input1', 'placeholder': 'Votre Prenom'}}) }}   
                    <span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.prenom_dem) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.civilite_dem, {'attr': {'class': 'input1', 'placeholder': 'Votre Civilité'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.civilite_dem) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.telephone_dem, {'attr': {'class': 'input1', 'placeholder': 'Votre Numéro de Téléphone'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.telephone_dem) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.adresse_dem, {'attr': {'class': 'input1', 'placeholder': 'Votre Adresse'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.adresse_dem) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.ville_dem, {'attr': {'class': 'input1', 'placeholder': 'Votre Ville'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.ville_dem) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.codepostale_dem, {'attr': {'class': 'input1', 'placeholder': 'Votre Code Postal'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.codepostale_dem) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.email_dem, {'attr': {'class': 'input1', 'placeholder': 'Votre E-mail'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.email_dem) }}</div>
				</div>
		</div>
	</div>




    <div class="contact1">


		<div class="container-contact1">

        <span class="contact1-form-title">


			<h1>Profitez d'une mise en relation gratuite avec jusqua' 4 professionnels Sérieux et Qualifiés.</h1>
        </span>
        
         <span class="contact1-form-text">
				<p>Indiquez les détails de votre projet et trouvez les professionnels qualifiés capables de répondre à vos besoins spécifiques :</p>
        </span>
        
     
        

			<div class="contact1-pic js-tilt" data-tilt>
				<img src="images/Construction.png" alt="IMG">
			</div>

			<div class="contact1-form validate-form">
				<span class="contact1-form-title">
					Caractéristiques du projet
				</span>

				<div class="wrap-input1 validate-input">
                    {{ form_widget(form.titreprojet, {'attr': {'class': 'input1', 'placeholder': 'Le Titre de votre Projet'}}) }}
                    <span class="shadow-input1"> </span>
                    <div class="valid-input">{{ form_errors(form.titreprojet) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
                    {{ form_widget(form.situation_proj, {'attr': {'class': 'input1', 'placeholder': 'Veuillez Décrire Votre situation'}}) }}   
                    <span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.situation_proj) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.type_bien, {'attr': {'class': 'input1', 'placeholder': 'Veuillez choisir un type de bien'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.type_bien) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.budget_proj, {'attr': {'class': 'input1', 'placeholder': 'Quel est votre budget (en dinars)'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.budget_proj) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.etat_bien, {'attr': {'class': 'input1', 'placeholder': 'Quel est l\'état de votre bien'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.etat_bien) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.delai_realisation, {'attr': {'class': 'input1', 'placeholder': 'quel est le délai de réalisation de vos travaux'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.delai_realisation) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.periode_rappel, {'attr': {'class': 'input1', 'placeholder': 'Quand pouvons-nous vous appeler ?'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.periode_rappel) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.objet_dem_proj, {'attr': {'class': 'input1', 'placeholder': 'Quel est l\'objet de votre demande ?'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.objet_dem_proj) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.description_proj, {'attr': {'class': 'input1', 'placeholder': 'Veuillez décrire le projet que vous essayez de réaliser et les services dont vous avez besoin'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.description_proj) }}</div>
				</div>

				<div class="container-contact1-form-btn">
					<button class="contact1-form-btn" type="submit">
						<span>
							Envoyez votre demande de devis
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
				</div>
                {{ form_end(form) }}
			</form>
		</div>
	</div>


    <script type="text/javascript">
    function removePlaceholderOption(selectId) {
        var selectElement = document.getElementById(selectId);
        if (selectElement.options[0].value === "") {
            selectElement.removeChild(selectElement.options[0]);
        }
    }
</script>
    

	{% endblock %}
	
	{% block testimonial %}

	{% endblock %}