{% extends 'base.html.twig' %}

{% block body %}


    

	<div class="contact1">


		<div class="container-contact1">

        <span class="contact1-form-title">

		{% for flashMessage in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
        {% endfor %}


			<h1>Étape 1 : Enregistrez-vous pour obtenir votre code de connexion et devenir partenaire avec SM DEVIS</h1>
        </span>

        <span class="contact1-form-text">
		En utilisant notre plateforme, vous pouvez trouver des opportunités de partenariat avec SM DEVIS et accéder aux projets des utilisateurs pour leur proposer vos services. 
		Commencez dès maintenant !
        </span>
        
         <span class="contact1-form-text">
				<p>Remplissez le formulaire ci-dessous pour vous inscrire et recevoir votre code de connexion afin d'accéder aux projets et offrir vos services :</p>
        </span>
        
     
        

			<div class="contact1-pic js-tilt" data-tilt>
				<img src="images/smdevis-logo.jpg" alt="IMG">
			</div>

            
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

			<form class="contact1-form validate-form">
				<span class="contact1-form-title">
					Vos identifiants
				</span>

				<div class="wrap-input1 validate-input">
                    {{ form_widget(form.nom, {'attr': {'class': 'input1', 'placeholder': 'Votre Nom'}}) }}
                    <span class="shadow-input1"> </span>
                    <div class="valid-input">{{ form_errors(form.nom) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
                    {{ form_widget(form.prenom, {'attr': {'class': 'input1', 'placeholder': 'Votre Prenom'}}) }}   
                    <span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.prenom) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.nom_soc, {'attr': {'class': 'input1', 'placeholder': 'Nom de votre entreprise'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.nom_soc) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.act_entreprise, {'attr': {'class': 'input1', 'placeholder': 'Activité de votre entreprise'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.act_entreprise) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.mat_fisc, {'attr': {'class': 'input1', 'placeholder': 'Matricule fiscale'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.mat_fisc) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.adresse, {'attr': {'class': 'input1', 'placeholder': 'Votre adresse'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.adresse) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.codepostal, {'attr': {'class': 'input1', 'placeholder': 'Votre code postal'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.codepostal) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.tel_gsm, {'attr': {'class': 'input1', 'placeholder': 'Votre numéro de téléphone GSM'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.tel_gsm) }}</div>
				</div>

                <div class="wrap-input1 validate-input">
					{{ form_widget(form.tel_fix, {'attr': {'class': 'input1', 'placeholder': 'Votre numéro de téléphone FIX'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.tel_fix) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.email, {'attr': {'class': 'input1', 'placeholder': 'Votre E-mail'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.email) }}</div>
				</div>

				<div class="wrap-input1 validate-input">
					{{ form_widget(form.subscription, {'attr': {'class': 'input1', 'placeholder': 'La durée de votre abonnement'}}) }}
					<span class="shadow-input1"></span>
                    <div class="valid-input">{{ form_errors(form.subscription) }}</div>
				</div>

				<div class="container-contact1-form-btn">
					<button class="contact1-form-btn" type="submit">
						<span>
							Créez votre compte partenaire
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
				</div>
                {{ form_end(form) }}
			</form>
		</div>
	</div>


    <script type="text/javascript">
    function removePlaceholderOption() {
        var selectElement = document.getElementById("form_subscription");
        if (selectElement.options[0].value === "") {
            selectElement.removeChild(selectElement.options[0]);
        }
    }
</script>
    

	{% endblock %}